
//==Header
.header{
  // background: #00000080;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997;
  border-bottom: 1px solid rgba(255,255,255,.4);
  transition: .3s;

  &._fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    height: 70px;
    z-index: 998;
    border-bottom: 2px solid $mainColor;
  }
  .inner{
    display: flex;
    align-items: center;
    height: 100%;
  }
  .logo{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-right: 50px;
    transition: .5s;
    &:hover{
      opacity: .8;
    }
  }
  .nav-icon{
    display: flex;
    align-items: center;
    margin-left: auto;
    ._icon{
      transition: .5s;
      opacity: .8;
      cursor: pointer;
      img{
        width: 22px;
      }
      &:hover{
        opacity: 1;
      }
    }
    > *{
      margin: 0 10px;
    }
    // a, span{
    //   font-size: 14px;
    //   text-transform: uppercase;
    //   font-weight: bold;
    //   color: #fff;
    //   cursor: pointer;
    //   transition: .5s;
    // }
  }
}

.search{
  position: relative;
  min-width: 50px;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  &__result{
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, 0);
    background: #fff;
    min-width: 350px;
    border-radius: 5px;
    overflow: hidden;
  }
  &__item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #00000050;
  }
  &__item__image {
    max-width: 30px;
    margin-right: 10px;
  }
  &__icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    padding-top: 2px;
    z-index: 9;
  }
  input{
    position: relative;
    width: 250px;
    height: 100%;
    padding: 0 10px;
    background: rgba(255,255,255,.3);
    border: none;
    border-radius: 5px;
    color: #fff;
    // display: none;
    z-index: 10;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }
}

.cart{
  &__total{
    height: 11vh;
    @include flex-col-sb();

    .checkout-btn{
      background: $mainColor;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      color: #fff;
      padding: 15px 10px;
      max-height: 45px;
    }
    .total{
      @include flex-sb-c();
      padding: 10px 20px;
      flex: 1;
      &_price{
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
  &__list{
    height: 78vh;
    overflow-x: hidden;
    padding: 5px;
    border: 1px solid $mainColor;
    // border-bottom: 1px solid $mainColor;
    // border-right: none;
    border-radius: 5px;
    position: relative;

    &::-webkit-scrollbar-track{
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
      width: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background-color: $mainColor;	
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
                            transparent 25%,
                            transparent 50%,
                            rgba(255, 255, 255, .2) 50%,
                            rgba(255, 255, 255, .2) 75%,
                            transparent 75%,
                            transparent)
    }
  }
  &__item{
    background: rgba(255,255,255,.95);
    border-bottom: 1px solid;
    border-color: #00000020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 9999;

    &:last-child{
      border-bottom: 0;
    }
    .image{
      width: 15%;
      img{
        max-width: 100%;
        transition: .5s;
      }
      &:hover img{
        background: rgba(255,255,255,1);
        transform: scale(1.05)
      }
    }
    .info{
      padding-right: 10px;
      width: 80%;
    }
    .name{
      padding: 5px 0;
      font-size: 14px;
      line-height: 1.3;
      display: flex;
      align-items: center;
    }
    .price{
      font-size: 14px;
      color: $mainColor;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .quantity{
      cursor: default;
      font-size: 13px;
      font-weight: 500;
      // max-width: 28px;
      text-align: left;
      padding: 5px 5px 5px 3px;
      border: none;

      &::-webkit-inner-spin-button, 
      &::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
      }
    }
    .title{
      font-size: 500px;
      font-size: 12px;
      display: inline-block;
      padding-right: 5px;
    }
    .bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .edit, .delete{
      margin: 0 3px;
      font-size: 16px;
      visibility: hidden;
      cursor: pointer;
      opacity: 0.2;
      transition: .2s;
    }
    &:hover{
      .edit, .delete{
        visibility: visible;
        opacity: 1;
      }
    }
    .button{
      font-size: 13px;
      font-weight: bold;
      padding: 7px 15px;
      border-radius: 3px;
      cursor: pointer;
      text-align: center;
      margin: 2px 0;
    }
    .save{
      color: #fff;
      background: #4285f4;
    }
    .cancel{
      color: #000;
      background: #e0e0e0;
    }
    .deleted{
      color: #fff;
      background: #F00;
    }
    .confirm{
      position: absolute;
      top: 0;
      right: -100%;
      bottom: 0;
      background: $mainColor;
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: .3s;
    }
    &.-editing{
      .quantity{
        cursor: text;
        border: 1px solid #bbb;
      }
      .action{
        display: none;
      }
      .confirm{
        right: 0;
      }
    }
    &.-deleting{
      .action{
        display: none;
      }
      .confirm{
        right: 0;
      }
    }
  }
  &__icon{
    position: relative;
    z-index: 1;
  }
  &__empty{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.05);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
    color: $mainColor;
    cursor: default;
    border-right: 1px solid $mainColor;
  }
  &__number{
    position: absolute;
    bottom: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #fff;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #000;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.popup{
  &__full{
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    &.-show{
      visibility: visible;
      opacity: 1;
      .popup__box{
        margin-right: 0;
      }
    }
  }
  &__box{
    max-height: initial;
    border-radius: 0;
    max-width: 500px;
    margin-left: auto;
    padding: 2vh 10px 3vw;
    height: 100vh;
    background: #fff;
    margin-right: -100%;
    transition: .5s;
  }
  &__head{
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h3{
      font-size: 22px;
      font-weight: bold;
    }
    .close{
      font-size: 25px;
      color: #fff;
      width: 30px;
      height: 30px;
      background: $mainColor;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      z-index: 99;
    }
    i{
      color: #FFF;
    }
  }
  &__content{
    height: 94vh;
  }
}

.wish{
  &__icon{
    img{
      max-width: 22px;
    }
  }
  &__list{
    border: 1px solid $mainColor;
    border-radius: 3px;
    padding: 5px;
    max-height: 90vh;
    overflow-y: auto;
    &::-webkit-scrollbar-track{
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar{
      width: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb{
      background-color: $mainColor;	
      border-radius: 10px;
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
                            transparent 25%,
                            transparent 50%,
                            rgba(255, 255, 255, .2) 50%,
                            rgba(255, 255, 255, .2) 75%,
                            transparent 75%,
                            transparent)
    }
  }
  &__item{
    padding: 20px 5px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,.95);
    border-bottom: 1px solid;
    border-color: #00000020;
    .image{
      max-width: 25%;
      padding-right: 25px;
      img{
        max-width: 100%;
        transition: .5s;
      }
      &:hover img{
        background: rgba(255,255,255,1);
        transform: scale(1.05)
      }
    }
    .info{
      width: 70%;
      padding-right: 20px;
    }
    .unlike{
      margin-left: auto;
      width: 30px;
      cursor: pointer;
    }
  }
}

.user{
  position: relative;
  &__text{
    a, span{
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      opacity: .8;
      transition: .3s;
    }
    span{
      cursor: default;
    }
    a:hover{
      opacity: 1;
    }
  }

  &__option{
    margin-top: 20px;
    a{
      color: #000;
      padding: 10px 15px;
      display: block;
      transition: .5s;
      background: #fff;
      display: flex;
      align-items: center;
      &:hover{
        opacity: .9;
        color: #2F2F2F;
      }
    }
    li + li{
      border-top: 1px solid #ccc
    }
    i{
      font-size: 26px;
      font-weight: 500;
      min-width: 40px;
    }
  }

  &__welcome{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid $mainColor;
    border-radius: 5px;
    .user-general{
      display: flex;
      align-items: center;
    }
    .avatar {
      width: 50px;
      height: 50px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      overflow: hidden;
  
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: url(./assets/image/auth/img-02.png);
        background-size: 100% 100%;
        z-index: 10;
      }
  
      img {
        position: relative;
        z-index: 9;
        max-width: 100%;
      }
    }
    .name_role{
      margin-left: 10px;
    }
    .name{
      font-size: 18px;
      margin-bottom: 5px;
    }
    .role{
      font-size: 14px;
      opacity: .8;
    }
    .logout{
      padding: 8px 18px;
      background: $mainColor; 
      border-radius: 5px;
      color: #fff;
      transition: .5s;
      cursor: pointer;
      &:hover{
        // border: 1px solid $mainColor;
        // background: #fff;
        // color: #000;
        opacity: .7;
      }
    }
  }
}


.nav-link{
  ul{
    display: flex;
  }
  a{
    padding: 20px 20px;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    color: #ffffff;
    transition: .5s;
    opacity: .8;
    &:hover{
      opacity: 1;
    }
  }
}