



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

/* @font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
} */

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

.login {
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
.login a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.auth a:focus {
	outline: none !important;
}

.auth a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
.auth h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

.auth {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

.auth ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
.login input {
	outline: none;
	border: none;
}

.login textarea {
  outline: none;
  border: none;
}

.login textarea:focus, 
.login input:focus {
  border-color: transparent !important;
}

.login input:focus::-webkit-input-placeholder { color:transparent; }
.login input:focus:-moz-placeholder { color:transparent; }
.login input:focus::-moz-placeholder { color:transparent; }
.login input:focus:-ms-input-placeholder { color:transparent; }

.login textarea:focus::-webkit-input-placeholder { color:transparent; }
.login textarea:focus:-moz-placeholder { color:transparent; }
.login textarea:focus::-moz-placeholder { color:transparent; }
.login textarea:focus:-ms-input-placeholder { color:transparent; }

.login input::-webkit-input-placeholder { color: #999999; }
.login input:-moz-placeholder { color: #999999; }
.login input::-moz-placeholder { color: #999999; }
.login input:-ms-input-placeholder { color: #999999; }

.login textarea::-webkit-input-placeholder { color: #999999; }
.login textarea:-moz-placeholder { color: #999999; }
.login textarea::-moz-placeholder { color: #999999; }
.login textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
.login button {
	outline: none !important;
	border: none;
	background: transparent;
}

.login button:hover {
	cursor: pointer;
}

.login iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/

.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login .login100-form {
  width: 290px;
}



/*---------------------------------------------*/
.login .wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.login .input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.login .focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87,184,70, 0.8);
}

.login .input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.login .symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login .input100:focus + .login .focus-input100 + .login .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.login .container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 20px; */
}

.login .login100-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login .login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .login .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login .login100-pic {
    width: 35%;
  }

  .login .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login .login100-pic {
    display: none;
  }

  .login .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.login .validate-input {
  position: relative;
}

.login .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.login .alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px;
}

.login .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .login .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


  /* ==========================================================================
   #WRAPPER
   ========================================================================== */
   .signup .wrapper {
    margin: 0 auto;
  }
  
  .signup .wrapper--w960 {
    max-width: 960px;
  }
  
  .signup .wrapper--w780 {
    max-width: 780px;
  }
  
  .signup .wrapper--w680 {
    max-width: 680px;
  }
  
  /* ==========================================================================
     #BUTTON
     ========================================================================== */
  .signup .btn {
    display: inline-block;
    line-height: 40px;
    padding: 0 33px;
    font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
    cursor: pointer;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 18px;
  }
  
  .signup .btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .signup .btn--pill {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
  
  .signup .btn--green {
    background: #57b846;
  }
  
  .signup .btn--green:hover {
    background: #4dae3c;
  }
  
    /* ==========================================================================
    #FORM
    ========================================================================== */
  .signup input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    border-bottom: 1px solid;
  }
  
  .signup .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .signup .input-group {
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .signup .input--style-3 {
    padding: 5px 0;
    font-size: 16px;
    color: #ccc;
    background: transparent;
  }
  
  .signup .input--style-3::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ccc;
  }
  
  .signup .input--style-3:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
  }
  
  .signup .input--style-3::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
  }
  
  .signup .input--style-3:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
  }
  
  .signup .input--style-3:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc;
  }
  
  /* ==========================================================================
     #SELECT2
     ========================================================================== */
  .signup .select--no-search .select2-search {
    display: none !important;
  }
  
  .signup .rs-select2 .select2-container {
    width: 100% !important;
    outline: none;
  }
  
  .signup .rs-select2 .select2-container .select2-selection--single {
    outline: none;
    border: none;
    height: 36px;
    background: transparent;
  }
  
  .signup .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    padding-left: 0;
    color: #ccc;
    font-size: 16px;
    font-family: inherit;
  }
  
  .signup .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
    height: 34px;
    right: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .signup .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
    display: none;
  }
  
  .signup .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
    font-family: "Material-Design-Iconic-Font";
    content: '\f2f9';
    font-size: 18px;
    color: #ccc;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .signup .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  
  .signup .select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
  }
  
  /* ==========================================================================
     #CARD
     ========================================================================== */
  .signup .card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
  }
  
  .signup .card-3 {
    background: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: table;
  }
  
  .signup .card-3 .card-heading {
    background: url("../images/bg-heading-03.jpg") top left/cover no-repeat;
    display: table-cell;
    width: 50%;
  }
  
  .signup .card-3 .card-body {
    padding: 57px 65px;
    padding-bottom: 65px;
    display: table-cell;
  }
  
  @media (max-width: 767px) {
    .signup .card-3 {
      display: block;
    }
    .signup .card-3 .card-heading {
      display: block;
      width: 100%;
      padding-top: 400px;
      background-position: center center;
    }
    .signup .card-3 .card-body {
      display: block;
      width: 100%;
      padding: 37px 30px;
      padding-bottom: 45px;
    }
  }
  